@use "head.scss" as *;

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px 2px 5px 2px;
  flex-direction: row;
  .header-retour {
    width: 33%;
    .fa-arrow-left {
      margin-left: 10px;
      font-size: 1.5rem;
    }
  }
  .header-logo {
    display: flex;
    justify-content: center;

    .logo-title {
      font-size: 1.8rem;
    }
  }
  .header-blank {
    width: 33%;
  }
}

.restaurant {
  height: 220px;
  padding: 0;
  margin: 0;
  img {
    height: 120%;
    width: 100%;
    object-fit: cover;
  }
}

.menu {
  display: flex;
  justify-content: center;
  .menu-conteneur {
    width: 100%;
    background-color: $bg-color;
    padding: 40px 10px 20px 10px;
    border-radius: 50px 50px 0px 0px;
    box-sizing: border-box;
  }
  .menu-introduction {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    position: relative;
  }
}

.coeur1,
.coeur {
  font-size: 1.5rem;
  position: absolute;
  right: 25px;
  top: 5px;
}

.menu-etape {
  background-color: $bg-color;
  margin-bottom: 40px;
  p {
    font-size: 0.85rem;
    font-size: 0.85rem;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  span {
    text-underline-offset: 0.5rem;
    text-decoration: underline $tertiary-color 3px;
  }
  h3 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  h2 {
    margin-bottom: 15px;
    font-weight: 400;
  }
  .menu-plats {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    .btn {
      display: flex;
      width: 100%;
      border: none;
      border-radius: 25px;
      overflow: hidden;
      position: relative;
      background-color: white;
      box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.2);
      &:hover .menu-ajouter {
        width: 70px;
        transform: translateX(0px);
        cursor: pointer;
      }
      .menu-prix {
        font-size: 0.9rem;
        font-weight: bold;
        margin-left: 0;
      }
    }
    .btn-conteneur {
      width: 100%;
      min-width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: end;
      padding: 15px;
      box-sizing: border-box;
      transition: 400ms ease all;
    }
    .btn-text {
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: flex-start;
      width: 80%;
    }

    .menu-check {
      display: none;
    }

    .menu-ajouter {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 0;
      transform: translateX(70px);
      background-color: #99e2d0;
      border-radius: 0 25px 25px 0;
      transition: 400ms ease all;
      cursor: pointer;
      position: absolute;
      right: 0;
      height: 100%;

      .fa-check {
        color: #99e2d0;
        background-color: white;
        padding: 5px;
        border-radius: 50%;
      }
    }

    .btn:hover .menu-ajouter,
    .menu-check:checked + .menu-ajouter {
      width: 70px;
      transform: translateX(0);
    }
  }
}

.cta-conteneur {
  display: flex;
  justify-content: center;
  .cta {
    @include cta;
    position: relative;
    font-size: 1.2rem;
    padding: 15px 50px 15px 50px;
    z-index: 0;
  }
}

@media (min-width: 1024px) {
  .menu {
    .menu-conteneur {
      width: 80%;
      padding: 40px 200px 20px 200px;
    }
    .menu-introduction {
      justify-content: center;
      gap: 25px;
    }
  }

  footer {
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 40px;
    .footer-conteneur {
      flex-direction: row;
      gap: 10px;
    }
    .footer_logo {
      margin: 20px 30px 32px 70px;
    }
    .spaced {
      margin-right: 60px;
    }
  }
}
