@use "head.scss" as *;

header {
  display: flex;
  flex-direction: column;
  align-items: center;

  .header-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
    padding: 20px 0;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.18);
    img {
      width: 175px;
      height: 35px;
    }
  }
}
.localisation {
  flex-direction: column;
  align-items: center;

  .header-localisation {
    background-color: #eaeaea;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 18px 0;
    .fa-location-dot {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 8px;
    }
  }
}

.introduction {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $bg-color;

  p {
    text-align: center;
    margin: 25px 20px 5px 20px;
    font-size: 0.8rem;
  }
  h1 {
    text-align: center;
    margin: 25px 20px 5px 20px;
    font-size: 1.8rem;
  }

  .introduction-cta {
    @include cta;
    margin-top: 25px;
    margin-bottom: 55px;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
      background-color: #fff;
      opacity: 0.8;
      cursor: pointer;
      transition: 0.3s;
    }
  }
}

.fonctionnement {
  background-color: white;
  margin: 15px 20px;

  .title {
    margin: 40px 0px 22px 1px;
  }
  .fonctionnement-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;

    .icone {
      border: solid $main-color;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      text-align: center;
      color: white;
      background-color: $main-color;
      position: absolute;
      left: -10px;
      font-weight: 300;
    }

    button {
      padding: 25px 30px;
      position: relative;
      border: none;
      font-weight: bold;
      font-size: 0.9rem;
      border-radius: 20px;
      margin-bottom: 10px;
      background-color: $bg-color;
      box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.18);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;

      &:hover {
        color: $main-color;
        cursor: pointer;
      }
    }
  }
}

.restaurants {
  background-color: $bg-color;
  padding-bottom: 100px;
  padding-top: 15px;

  a:visited {
    color: black;
  }
  .restaurants-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    a {
      width: 100%;
      height: 70%;
      text-decoration: none;
    }

    .restaurants-card {
      width: 90%;
      display: flex;
      flex-direction: column;
      height: 300px;
      background-color: white;
      border-radius: 25px;
      position: relative;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 25px 25px 0 0;
      }
    }

    .restaurants-card-content {
      display: flex;
      justify-content: space-between;

      .restaurants-card-text {
        margin-left: 20px;

        h2 {
          font-size: 20px;
          margin-top: 20px;
          margin-bottom: 0;
        }

        p {
          margin-top: 2px;
        }
      }

      .fa-heart {
        font-size: 1.5rem;
        margin: 20px 20px 0 0;

        &:hover {
          background-color: $main-color;
        }
      }
    }

    .nouveau {
      background-color: #000000;
      color: #dcdcdc;
      padding: 7px 13px;
      font-size: 0.95rem;
      border-radius: 20px;
      position: absolute;
      right: 30px;
      top: 20px;
    }
  }
}

.restaurants-card-like:hover {
  .coeur {
    opacity: 1;
  }

  .coeur1 {
    opacity: 0;
  }
}

.heart-checkbox {
  display: none;
}

.heart-checkbox:checked + .coeur {
  opacity: 1;
}

.heart-checkbox:checked ~ .coeur1 {
  opacity: 0;
}

.coeur {
  position: absolute;
  right: 0;
  z-index: 1;
  background: none;
  cursor: pointer;
  opacity: 0;
  background: linear-gradient(45deg, $main-color 0%, $secondary-color 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  transition: opacity 0.5s ease-in-out;
}

footer {
  background-color: $footer-color;
  display: flex;
  flex-direction: column;

  .footer-conteneur {
    display: flex;
    flex-direction: column;
  }

  .footer_logo {
    @include logo-title;
    color: white;
    margin: 15px 15px 15px 15px;
    font-size: 1.1rem;
  }

  .footer_link {
    margin-left: 15px;
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    font-size: 0.9rem;

    .fa-solid {
      font-size: 0.85rem;
    }
  }
}

@media (min-width: 1024px) {
  * {
    font-size: 1.1rem;
  }
  header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .header-logo {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 2px;
      padding: 20px 0;
      box-shadow: none;
      img {
        width: 175px;
        height: 35px;
      }
    }
  }

  .fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 180px;
    margin: 0;

    h1 {
      padding-left: 0;
      margin-left: 15px;
    }

    .fonctionnement-conteneur {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }

    .fonctionnement-buttons {
      flex-direction: row;
      justify-content: center;
      gap: 25px;
      margin-top: 25px;
      margin-bottom: 25px;

      .icone {
        left: -10px;
      }

      button {
        padding: 30px 55px 30px 40px;
        font-size: 0.9rem;
        gap: 50px;
@media screen and (max-width: 1420px) {
        padding: 30px 40px 30px 20px;
        white-space: nowrap;
     }
        
      }
      
    }
  }

  .restaurants {
    display: flex;
    justify-content: center;
    padding: 15px 180px 100px 180px;

    .restaurants-conteneur {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .title {
      padding-left: 35px;
      margin-bottom: 30px;
    }

    .restaurants-div {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 80px;

      .restaurants-card {
        width: 40%;
        height: 250px;
        margin-bottom: -40px;
        
      }

      a {
        width: 100%;
        height: 70%;
      }
      
    }
    @media screen and (max-width: 1420px) {
      padding: 30px 10px 90px 20px;
      white-space: nowrap;
   }
  }

  footer {
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 40px;

    .footer-conteneur {
      flex-direction: row;
      gap: 10px;
    }

    .footer_logo {
      margin: 20px 30px 32px 70px;
    }

    .spaced {
      margin-right: 60px;
    }
  }
}
